@using EnotsCompany.Models.ManageViewModels
@model ChangePasswordViewModel
<div class="page-content-inner">
    <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Change Password</h2>
        </div>
    </div>
    @if (ViewBag.msg == "success")
            {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-check alert-icon "></i>
            <strong>Success!</strong> change your password successfully.
        </div>
    }
    else if (ViewBag.msg == "error")
    {

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-check alert-icon "></i>
            <strong>Error!</strong> change your password unsuccessfully.
        </div>
    }
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2">
            <!-- Start .page-content-inner -->
            <form asp-controller="Supplier" asp-action="ChangePassword" method="post" class="form-horizontal">
                <div class="form-group">
                    <label asp-for="OldPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
