<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Information,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="e:\project\wcfservice_enotscompany\wcfservicelibrary_enotscompany\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="e:\project\wcfservice_enotscompany\wcfservicelibrary_enotscompany\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ws_trans" transactionFlow="false">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="rss_binding" />
      </webHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <services>
      <service name="WcfServiceLibrary_EnotsCompany.PaymentMethodService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IPaymentMethodService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PaymentMethodService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.UnitService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IUnitService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/UnitService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.WholesalerService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IWholesalerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany.Module_WholeSaler/WholesalerService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.SupplierService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ISupplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/SupplierService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.SliderService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ISliderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/SliderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.PurchaseOrderDetailsService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IPurchaseOrderDetailsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PurchaseOrderDetailsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.PurchaseOrderService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ws_trans"
          contract="WcfServiceLibrary_EnotsCompany.IPurchaseOrderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PurchaseOrderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ArticleService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IArticleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ArticleService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.CategoryService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ICategoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ContactPersonService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IContactPersonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ContactPersonService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.CountryService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ICountryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/CountryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IEmployeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/EmployeeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.FeedbackService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IFeedbackService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/FeedbackService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ItemService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IItemService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ItemService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.InvoiceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IInvoiceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/InvoiceService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.Module_RSS.RSSService">
        <endpoint address="" behaviorConfiguration="hav1" binding="webHttpBinding"
          bindingConfiguration="rss_binding" contract="WcfServiceLibrary_EnotsCompany.Module_RSS.IRSSService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany.Module_RSS/RSSService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="hav1">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="test">
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="B2BEntities" connectionString="metadata=res://*/DAL.B2BModel.csdl|res://*/DAL.B2BModel.ssdl|res://*/DAL.B2BModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=B2B;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>