@{
    Layout = "~/Views/Home/_Layout.cshtml";
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="form-forgot-password">
    <h2>@ViewData["Title"].</h2>
    <p>
        Please check your email to reset your password.
    </p>

</div>
