@using EnotsCompany.Models.AccountViewModels
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Home/_Layout.cshtml";
    ViewData["Title"] = "Forgot your password?";
}
<div class="form-forgot-password">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <p><i class="fa fa-info-circle" aria-hidden="true"></i> Please enter the username of the account to retrieve your password</p>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</div>

