<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
    <bindings>
      <wsHttpBinding>
        <binding name="ws_trans" transactionFlow="false">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="rss_binding" />
      </webHttpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <services>
      <service name="WcfServiceLibrary_EnotsCompany.PaymentMethodService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IPaymentMethodService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PaymentMethodService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.UnitService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IUnitService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/UnitService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.WholesalerService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IWholesalerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany.Module_WholeSaler/WholesalerService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.SupplierService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ISupplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/SupplierService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.SliderService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ISliderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/SliderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.PurchaseOrderDetailsService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IPurchaseOrderDetailsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PurchaseOrderDetailsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.PurchaseOrderService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ws_trans"
          contract="WcfServiceLibrary_EnotsCompany.IPurchaseOrderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/PurchaseOrderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ArticleService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IArticleService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ArticleService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.CategoryService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ICategoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ContactPersonService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IContactPersonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ContactPersonService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.CountryService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.ICountryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/CountryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IEmployeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/EmployeeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.FeedbackService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IFeedbackService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/FeedbackService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.ItemService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IItemService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/ItemService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.InvoiceService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary_EnotsCompany.IInvoiceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany/InvoiceService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary_EnotsCompany.Module_RSS.RSSService">
        <endpoint address="" behaviorConfiguration="hav1" binding="webHttpBinding"
          bindingConfiguration="rss_binding" contract="WcfServiceLibrary_EnotsCompany.Module_RSS.IRSSService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfServiceLibrary_EnotsCompany.Module_RSS/RSSService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="hav1">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="test">
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="B2BEntities" connectionString="metadata=res://*/DAL.B2BModel.csdl|res://*/DAL.B2BModel.ssdl|res://*/DAL.B2BModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=B2B;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>